html {
    background-color: rgb(30, 30, 30);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#calendar {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-grow: 1;
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    row-gap: 10px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.day-button {
    width: 4.2vw;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 0;

    p {
        position: absolute;
        font-weight: bold;
        font-size: 12pt;
        color: white;
        transition: color 0.3s;
    }

    svg {
        height: 100%;
        background: transparent;

        * {
            fill: gold !important;
        }

        #outerBorder {
            fill: gold !important;
        }

        #innerFill {
            fill: rgb(50, 50, 50) !important;
            transition: fill 0.3s;
        }
    }

    &.activated-1 {
        #innerFill {
            fill: #FFD700 !important;
        }

        p {
            color: black;
        }
    }

    &.activated-2 {
        #innerFill {
            fill: #2667FF !important;
        }

        p {
            color: black;
        }
    }

    &.activated-3 {
        #innerFill {
            fill: #B9E6FF !important;
        }

        p {
            color: black;
        }
    }

    &.activated-4 {
        #innerFill {
            fill: #E36397 !important;
        }

        p {
            color: black;
        }
    }

    &.activated-5 {
        #innerFill {
            fill: #40F99B !important;
        }

        p {
            color: black;
        }
    }
}

.month-label {
    color: white;
}

#activity-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
    position: sticky;
    bottom: 20px;

    button {
        background-color: rgb(50, 50, 50);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: gold;
            color: black;
        }
    }

    #activity {
        color: white;
        font-size: xx-large;
    }

    #activity-center {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
    }

    #settings-btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

dialog {
    border: 2px solid gold;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    width: 80vw;


    #activity-list {
        display: flex;
        flex-direction: column;
        max-height: 60vh;
        overflow-y: auto;
        font-size: 13pt;
        border: 1px solid lightgray;

        * {
            font-size: 13pt;
        }

        div.activity-item {
            padding: 7px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid transparent;

            &:hover {
                background-color: rgb(70, 70, 70);
                color: white;
                border-color: white;
            }

            div.activity-actions {
                display: flex;
                gap: 10px;
            }
        }
    }

    #add-activity-wrapper {
        margin-top: 10px;
    }

    .settings-item {
        border: 1px solid gray;
        padding: 20px;

        h2 {
            margin-top: 0;
        }
    }

    input[type=text] {
        font-size: 12pt;
        padding: 5px;
        border-radius: 5px;
    }

    button {
        background-color: rgb(50, 50, 50);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: gold;
            color: black;
        }
    }
}