html {
    background-color: rgb(30, 30, 30);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#calendar {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-grow: 1;
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    row-gap: 10px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.day-button {
    width: 4.2vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(50, 50, 50);
    border-color: gold;
    border-style: solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.day-button.activated {
    background-color: gold;
    color: black;
}

.month-label {
    color: white;
}

#activity-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 30px;

    button {
        background-color: rgb(50, 50, 50);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: gold;
            color: black;
        }
    }

    #activity {
        color: white;
    }
}